{{- $projects := partials.IncludeCached "data/projects" page }}
<table>
	<thrad>
		<tr>
			<th>Name</th>
			<th>Location</th>
		</tr>
	</thrad>
	<tbody>
		{{- range $k, $d := $projects }}
		<tr>
			<td><a href="#{{ $k }}"><i class="fa fa-book"></i> {{ $d.name }}</a></td>
			<td><a href="{{ $d.link }}"><i class="fa-brands fa-gitlab"></i> {{ $d.path}}</a></td>
		</tr>
		{{- end }}
	</tbody>
</table>
